#hud {
  width: 100%;

  display: grid;
  grid-template-areas:
    'left center right'
    'bottom bottom bottom';
  grid-template-columns: 300px auto 300px;
  pointer-events: none;
}

.left {
  grid-area: left;
  display: flex;
  flex-direction: column;
}

.left > div {
  margin-top: 12px;
  margin-left: 12px;
}

.center {
  grid-area: center;
  margin: 12px auto 0;
}

.right {
  grid-area: right;
  display: flex;
  flex-direction: column;
}

.right > div {
  margin-top: 12px;
  margin-right: 12px;
}

.bottom {
  width: 100%;
  grid-area: bottom;

  margin-top: auto;

  display: grid;
  gap: 5px;
  grid-template-columns: 300px 350px;
}

.bar {
  min-width: 100px;
  padding: 15px;

  background: rgba(0, 0, 0, 0.5);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1em;
}

.value {
  margin-left: 4px;
}

@import './drag.scss';
@import './health.scss';
@import './horny.scss';
@import './points.scss';
@import './speed.scss';
@import './dash.scss';
@import './bottles.scss';
