<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Project-231231</title>
  </head>
  <body>
    <div class="container">
      <div class="background"></div>

      <div class="wrapper">
        <div id="ui" class="loading">
          <div id="hud" class="hide">
            <div id="points" class="bar">Очков: <span class="value">0</span></div>
            <div id="health" class="bar">Здоровья: <span class="value">100</span></div>

            <div class="center">
              <div id="speed" class="bar">Скорость: <span class="value">1</span></div>
              <div id="drag" class="bar">Трение: <span class="value">1</span></div>
            </div>
          </div>

          <div class="buttonContainer">
            <button id="playBtn">Играть</button>
          </div>
        </div>
        <canvas id="game"></canvas>
      </div>
    </div>
  </body>
</html>
