<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OwlieLowi's Nightmare</title>
    <script>
      // Code name: Project-231231
    </script>
  </head>
  <body>
    <div class="container">
      <div class="fullscreenBtn">
        <img src="https://korekuta.ru/static/minigames/project231231/static-images/ui/fullscreen-icon.svg" alt="" />
      </div>

      <div class="background"></div>

      <div class="wrapper">
        <div id="ui" class="loading">
          <div id="hud" class="hide">
            <div class="left">
              <div id="health" class="bar pixelBorder">Здоровье: <span class="value">100</span></div>
              <div id="speed" class="bar pixelBorder">Ускорение: <span class="value">1</span></div>
              <div id="drag" class="bar pixelBorder">Замедление: <span class="value">1</span></div>
            </div>

            <div class="center">
              <div id="horny">
                <div class="title">Хорниметер:</div>
                <div class="value"></div>
              </div>
            </div>

            <div class="right">
              <div id="points" class="bar pixelBorder">Очков: <span class="value">0</span></div>
            </div>

            <div class="bottom">
              <div id="dash">
                <div class="bar pixelBorder">
                  <p>Рывок:</p>
                  <div class="pixelBorder bar value ready"></div>
                </div>
                <div class="key"></div>
              </div>
              <div class="bottlesContainer">
                <div id="bottles" class="bar pixelBorder">Бутылочек: <span class="value">0</span></div>
                <div class="key"></div>
              </div>
            </div>

            <div id="hornyWarning" class="hide">
              <div class="popup">
                <div class="bg"></div>
                <span class="text">Вы слишком хорни!</span>
              </div>
            </div>
          </div>

          <div id="mainMenu" class="hide">
            <div class="wrapper">
              <div class="authStatus">Статус авторизации: <span class="yes hide">Да</span> <span class="no">Нет</span></div>
              <div class="container">
                <h1 class="title">
                  <span><a class="link" href="https://www.twitch.tv/owlielowi" target="_blank">OwlieLowi</a>'s Nightmare</span>
                  <p class="memeSign">
                    Terraria и Minecraft<br />
                    уже так умеют (╥_╥)
                  </p>
                </h1>
                <h3 class="target">Нужно собрать: <span class="value">128</span></h3>

                <button class="play button pixelBorder">Начать играть</button>
                <button class="guide button pixelBorder">Обучение</button>
                <a href="https://games.korekuta.ru/owlielowi" target="_blank" class="leaderboard button pixelBorder">Топ-100</a>
                <button class="credits button pixelBorder">Благодарности</button>
                <a href="https://games.korekuta.ru" target="_blank" class="authBtn button pixelBorder">Авторизоваться</a>

                <div class="footer">Created by <a href="https://korekuta.ru" class="link" target="_blank">KingoSawada</a></div>
              </div>
              <div class="version">v0.3.270124-556pm</div>
              <div class="whatsnew hide">
                <h1 class="title">Что нового?</h1>
                <div class="description">
                  <ul>
                    <li>Новое передвижение и управление - более плавное движение с инерцией. Управлять можно теперь еще стрелочками!</li>
                    <li>Новый скачок - теперь плавный и более корректно засчитывает попадания по врагам</li>
                    <li>
                      Еще Больше монстров - теперь количество монстров одного типа одновременно на экране увеличено. Также время через
                      которое они появляются новые уменьшено!
                    </li>
                  </ul>
                </div>

                <div class="close">X</div>
              </div>
            </div>
          </div>

          <div id="gameOver" class="hide">
            <h1 class="title">Вы проиграли!</h1>
            <div class="points">Очков: <span class="value">0</span></div>
            <button id="restart" class="button pixelBorder">Перезапустить</button>
            <button id="return" class="button pixelBorder">Вернуться в главное меню</button>
          </div>

          <div id="gameWin" class="hide">
            <h1 class="title">Вы выиграли!</h1>
            <div class="points">Очков: <span class="value">0</span></div>
            <div class="target">Следующая цель: <span class="value">0</span></div>
            <button class="continue button pixelBorder">Продолжить</button>
            <button class="return button pixelBorder">Вернуться в главное меню</button>
          </div>

          <div id="guide" class="hide">
            <div class="wrapper">
              <div class="container">
                <h1 class="title">Обучение</h1>

                <div class="entry">
                  <img src="https://korekuta.ru/static/minigames/project231231/static-images/items/fruit_ice.png" alt="" />
                  <p>"Как сосать?!" - лечит на 10, уменьшает замедление на 0.01 и дает 2 очка</p>
                </div>

                <div class="entry">
                  <img src="https://korekuta.ru/static/minigames/project231231/static-images/items/pantsu.png" alt="" />
                  <p>"Где ты там трусики видел?!" - дает 20 очков, увеличивает скорость и замедление на 0.2 и увеличивает хорни на 10</p>
                </div>

                <div class="entry">
                  <img src="https://korekuta.ru/static/minigames/project231231/static-images/items/manga.png" alt="" />
                  <p>"Капец через нее проходят?!" - лечит на 35, увеличивает хорни на 25 и дает 1 очко</p>
                </div>

                <div class="entry">
                  <img src="https://korekuta.ru/static/minigames/project231231/static-images/items/banana.png" alt="" />
                  <p>Банан - лечит на 2, уменьшает хорни на 1, увеличивает ускорение и замедление на 0.1 и дает 1 очко</p>
                </div>

                <div class="entry">
                  <img src="https://korekuta.ru/static/minigames/project231231/static-images/items/vodka.png" alt="" />
                  <p>"Чики брики!" - наносит 10 урона, увеличивает скорость на 0.1 и дает 0.5л бутылочки</p>
                </div>

                <div class="entry">
                  <img src="https://korekuta.ru/static/minigames/project231231/static-images/items/bubble_wrap.png" alt="" />
                  <p>Пупырка - дает неуязвимость ко всему урону на 2 секунды</p>
                </div>

                <h3 class="gameplay">Описание</h3>
                <div class="desc">
                  <p>Управление на WASD, рывок в текущем направление SHIFT. Рывок убивает врагов на пути игрока!</p>
                  <p>
                    Бутылочку можно использовать на SPACE, только, если есть минимум 1л. Ее использование восстанавливает 25 здоровья,
                    понижает хорни на 15 и снижает ускорение с замедлением на 2.
                  </p>
                  <p>
                    Полоска хорни заполняется сверху, при ее достижении максимума начнет снижаться ускорение и замедление! Полоску можно
                    уменьшить получив урон или собирать соответствующие предметы!
                  </p>
                  <p>
                    Суть собрать как можно больше очков, чем больше очков - тем сложнее процесс. Предметы станут появляться чаще. Атаки
                    будут чаще, двигаться и менять направление тоже!
                  </p>
                  <p>Каждую победу количеству очков, которые нужно набрать будет увеличиваться на 25% от собранных очков!</p>
                </div>

                <button class="backBtn button pixelBorder">Вернуться назад</button>
              </div>
            </div>
          </div>

          <div id="credits" class="hide">
            <div class="wrapper">
              <div class="container">
                <h1>Благодарности</h1>
                <p class="subtitle">Эти люди помогли на заказ или бесплатно выкладывая свои работы, сделать игру за короткий срок!</p>
                <div class="entry">
                  <a href="https://kwork.ru/user/pavel_nick?ref=10508934" class="link" target="_blank">Pavel_Nick</a> - Арт Owlie, фон и кот
                </div>
                <div class="entry"><a class="link" href="https://beamedeighth.itch.io/" target="_blank">beamedeighth</a> - SimpleKeys</div>
                <div class="entry"><a class="link" href="https://kronbits.itch.io/" target="_blank">kronbits</a> - 200 Free SFX</div>

                <p class="subtitle">
                  Спасибо <a class="link" href="https://www.youtube.com/watch?v=-istquWjZ8M" target="_blank">RedFalcon</a> и
                  <a class="link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">AkiHito</a> за плейтистинг и идеи по
                  игре! (Ссылки они выбирали сами (◐‿◑))
                </p>

                <p class="subtitle">
                  Тысяча ОГРОМНЫХ СПАСИБО <a class="link" href="https://www.twitch.tv/owlielowi" target="_blank">OwlieLowi</a> за то, что ты
                  есть и даришь своим зрителям улыбку, веселье и удовольствие своими трансляциями! Это послужило вдохновением к созданию
                  этой игры!
                </p>

                <button class="backBtn button pixelBorder">Вернуться назад</button>
              </div>
            </div>
          </div>

          <div class="buttonContainer">
            <button id="playBtn" class="button pixelBorder">Загрузить игру...</button>
          </div>
        </div>
        <canvas id="game"></canvas>
      </div>
    </div>
  </body>
</html>
