#credits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  background: url('https://korekuta.ru/static/minigames/project231231/static-images/bg-1.png');
  background-size: cover;

  overflow: auto;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.65);

    overflow: auto;
  }

  .container {
    max-width: 800px;
    height: unset;

    display: flex;
    flex-direction: column;

    color: white;

    margin: auto 0;
    padding: 40px 0;

    .subtitle {
      margin-top: 50px;

      text-align: center;

      font-size: 16px;
      line-height: 20px;
    }

    .link {
      color: white;
    }

    .entry {
      margin-top: 20px;
    }

    .button {
      margin-top: 50px;

      padding: 20px;
      background: rgba(0, 255, 0, 0.4);

      color: white;
    }
  }
}
