.buttonContainer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.75);

  cursor: pointer;

  &:hover #playBtn {
    opacity: 0.75;
  }
}

#playBtn {
  margin: auto;

  appearance: none;

  background: rgba(0, 255, 128, 0.5);
  color: white;

  padding: 40px;
  font-size: 50px;

  border: none;

  transition: opacity 0.5s ease;

  cursor: pointer;

  font-family: 'Press Start 2P', sans-serif;
}
