@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;

  font-family: 'Press Start 2P', sans-serif;
}

button {
  font-family: 'Press Start 2P', sans-serif;
}

.container {
  position: relative;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  object-fit: contain;
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;

  background: url('https://korekuta.ru/static/minigames/project231231/static-images/site-bg.png');
  background-size: cover;
  filter: blur(10px);

  transform: scale(1.2);
}

.wrapper {
  position: relative;
  width: calc(100vh * 1.78);

  aspect-ratio: 1920 / 1080;
  max-width: 1920px;
  max-height: 1080px;

  overflow: hidden;
}

canvas {
  width: 100% !important;
  height: 100% !important;

  object-fit: contain;

  aspect-ratio: 16 / 9;
}

#ui {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  max-width: 1920px;
  max-height: 1080px;

  display: flex;

  pointer-events: all;
}

.pixelBorder {
  clip-path: polygon(
    0px calc(100% - 20px),
    4px calc(100% - 20px),
    4px calc(100% - 12px),
    8px calc(100% - 12px),
    8px calc(100% - 8px),
    12px calc(100% - 8px),
    12px calc(100% - 4px),
    20px calc(100% - 4px),
    20px 100%,
    calc(100% - 20px) 100%,
    calc(100% - 20px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 4px),
    calc(100% - 12px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 8px),
    calc(100% - 8px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 12px),
    calc(100% - 4px) calc(100% - 20px),
    100% calc(100% - 20px),
    100% 20px,
    calc(100% - 4px) 20px,
    calc(100% - 4px) 12px,
    calc(100% - 8px) 12px,
    calc(100% - 8px) 8px,
    calc(100% - 12px) 8px,
    calc(100% - 12px) 4px,
    calc(100% - 20px) 4px,
    calc(100% - 20px) 0px,
    20px 0px,
    20px 4px,
    12px 4px,
    12px 8px,
    8px 8px,
    8px 12px,
    4px 12px,
    4px 20px,
    0px 20px
  );
}

.button {
  appearance: none;
  border: none;
  cursor: pointer;

  transition: all 0.5s ease;

  &:not(.disabled):hover {
    opacity: 0.75;
  }
}

@import './playBtn.scss';
@import './hud/hud.scss';
@import './gameOver.scss';
@import './guide.scss';
@import './gameWin.scss';
@import './mainMenu.scss';
@import './credits.scss';

.loading {
  backdrop-filter: blur(20px);

  background: url('https://korekuta.ru/static/minigames/project231231/static-images/preload-bg.png');
  background-size: cover;
  // filter: blur(5px);
  // background: rgb(2, 0, 36);
  // background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.hide {
  display: none !important;
}

.disabled {
  pointer-events: none;

  cursor: not-allowed;
}
