@import '../../mixins.scss';

.root {
  @include fonts;

  appearance: none;
  border-radius: 32px;
  border: none;

  padding: 20px;

  cursor: pointer;

  transition: all 0.15s ease;

  &:hover {
    transform: scale(1.05);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    pointer-events: none;
  }
}
